@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}
button:focus,
input:focus {
  outline: none;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  cursor: pointer;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
}

body {
  background-color: #f3f2f3;
}

.btn {
  padding: 12px 24px;
  color: #2B2846;
  font-size: 18px;
  font-weight: bold;
  background-color: #F7D5AE;
  border-radius: 24px;
  background-image: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
}

.nav {
  border-bottom: 5px solid #f7d5ae;
  position: relative;
}
.nav::after {
  content: " ";
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: -13px;
  left: 0;
  border-bottom: 5px solid #f7d5ae;
}
.nav-content {
  display: flex;
  align-items: center;
  gap: 47px;
}
.nav-logo {
  padding: 36px 0;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-link__item {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}
.nav-link__item a {
  text-decoration: none;
  color: #2b2846;
}
.nav-link__item a:hover {
  color: #454074;
}
.nav-burger {
  display: none;
}

@media (max-width: 1280px) {
  .nav-content {
    display: block;
    padding-top: 36px;
    padding-left: 64px;
  }
  .nav-link {
    padding-top: 16px;
    margin-bottom: 27px;
  }
  .nav-link__item a {
    font-size: 14px;
  }
}
@media (max-width: 790px) {
  .nav-content {
    padding-left: 36px;
    padding-right: 36px;
  }
  .nav-link {
    gap: 20px;
  }
}
@media (max-width: 683px) {
  .nav-content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-link {
    display: none;
  }
  .nav-burger {
    display: inline-block;
  }
  .nav-logo {
    padding: 0 0;
  }
}
.emal {
  margin-top: 64px;
}

.emal-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 34px;
  padding-right: 34px;
}

.emal-img-1 {
  width: 346px;
  height: 432px;
  object-fit: cover;
}

.emal-2 {
  padding: 70px 64px;
}

.emal-tekst {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #2b2846;
}

.emal-img-2 {
  width: 432px;
  height: 432px;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .emal-img-1 {
    width: 208px;
    height: 260px;
  }
  .emal-img-2 {
    width: 260px;
    height: 260px;
  }
  .emal-2 {
    padding: 50px 44px;
  }
}
@media (max-width: 1078px) {
  .emal-tekst {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 1078px) {
  .emal-tekst {
    font-size: 12px;
    line-height: 12px;
  }
  .emal-2 {
    padding: 40px 20px;
  }
}
@media (max-width: 829px) {
  .emal-img-1 {
    width: 180px;
  }
  .emal-img-2 {
    width: 230px;
  }
}
@media (max-width: 718px) {
  .emal-wraper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .emal-img-1 {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
  .emal-img-2 {
    width: 100%;
  }
  .emal-tekst {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    width: 100%;
  }
}
.cards-lak {
  margin-top: 64px;
}

.cards-lak-wraper {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  margin-bottom: 128px;
}

.card-lak {
  display: flex;
  flex-direction: column;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  background-color: #fff;
}

.card-img {
  object-fit: cover;
  width: 136px;
  margin: auto;
}

.card-podrobneye {
  display: flex;
  flex-direction: column;
  width: 168px;
  height: 113px;
}

.card-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 17.34px;
  text-align: center;
  color: #cc9d69;
}

.card-tekst {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #2b2846;
  padding-top: 4px;
}

.card-btn {
  padding: 4px 12px 4px 12px;
  border-radius: 48px;
  border: 2px solid #cc9d69;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  text-align: left;
  color: #cc9d69;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.cards-title {
  height: 11px;
  border-top: 3px solid #F7D5AE;
  border-bottom: 3px solid #F7D5AE;
  position: relative;
}
.cards-title::after {
  content: "Умная эмаль";
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F1F0F1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.catalog-title {
  height: 11px;
  border-top: 3px solid #F7D5AE;
  border-bottom: 3px solid #F7D5AE;
  position: relative;
}
.catalog-title::after {
  content: "Каталог";
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F1F0F1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.kupit-title {
  height: 11px;
  border-top: 3px solid #F7D5AE;
  border-bottom: 3px solid #F7D5AE;
  position: relative;
}
.kupit-title::after {
  content: "Где купить";
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F1F0F1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.catalog-wraper {
  margin-bottom: 64px;
}

.cards-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card-catalog {
  position: relative;
  width: 200px;
  height: 204px;
  gap: 16px;
  border-radius: 8px;
}

.catalog-img {
  object-fit: cover;
  border-radius: 8px;
}

.catalog-tekst {
  position: absolute;
  top: 168px;
  padding: 8px 0px 12px 0px;
  text-align: center;
  background: linear-gradient(92.1deg, #FFE2C1 3.88%, #FFC481 26.11%, #FFCC91 92.18%);
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}

@media (max-width: 435px) {
  .card-catalog {
    width: 150px;
    height: 150px;
  }
  .catalog-img {
    width: 150px;
    height: 150px;
  }
  .catalog-tekst {
    top: 118px;
  }
}
.xarita-wraper {
  border-color: #EEEEEE;
  border: 3px solid #F7D5AE;
  height: 30%;
  border-radius: 50px;
  display: flex;
}

.xarita-left {
  width: 70%;
  overflow: hidden;
}

.xarita-rasm {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.xarita-right {
  width: 30%;
  padding-top: 85px;
  padding-right: 60px;
  padding-bottom: 24px;
  padding-left: 12px;
}

.xarita-tekst {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  text-align: left;
}

.xarita-btn {
  background: linear-gradient(92.1deg, #FFE2C1 3.88%, #FFC481 26.11%, #FFCC91 92.18%);
  padding: 8px 24px 12px 24px;
  border-radius: 48px;
  margin-top: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.84px;
  text-align: left;
}

@media (max-width: 1168px) {
  .xarita-left {
    width: 55%;
  }
  .xarita-img {
    width: 100%;
    overflow: hidden;
    padding: 31px 35px;
  }
  .xarita-right {
    width: 45%;
    padding-right: 37px;
  }
}
@media (max-width: 762px) {
  .xarita-left {
    width: 56%;
  }
  .xarita-img {
    width: 100%;
    overflow: hidden;
    padding: 31px 35px;
  }
  .xarita-right {
    width: 44%;
    padding-right: 37px;
    padding-top: 55px;
  }
}
@media (max-width: 766px) {
  .xarita-wraper {
    display: block;
    margin-top: 20px;
  }
  .xarita-left {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 13px;
  }
  .xarita-img {
    padding-top: 10px;
  }
  .xarita-right {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .buttonning-divi {
    display: flex;
    justify-content: center;
  }
}
.footer {
  background-color: #2b2846;
  color: #fff;
}

.footer-wraper {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid #fff;
  padding-left: 34px;
  padding-right: 34px;
  flex-wrap: wrap;
}

.footer-ft-1 {
  display: flex;
  gap: 32px;
  color: #fff;
}

.footer-link {
  color: #fff;
}

.footer-link__item {
  padding-top: 8px;
  text-decoration: underline;
}

.footer-ft-2-label {
  padding-bottom: 16px;
}

.footer-title {
  display: block;
  color: #f7d5ae;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.32px;
  text-align: left;
}

.footer-ft-2-input {
  width: 60%;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #f7d5ae;
  background-color: #fff;
  padding: 14px 16px;
}
.footer-ft-2-input::placeholder {
  color: #bebcc5;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  text-align: left;
}

.footer-btn-wrap {
  display: flex;
}

.footer-btn {
  background-image: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  background-color: #fff;
  color: #2b2846;
  padding: 14px 16px;
  cursor: pointer;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 44px;
}

.footer-ft-3 {
  color: #fff;
}

.footer-ft-3-label {
  padding-bottom: 16px;
}

.footer-ft-3-tel {
  padding-bottom: 4px;
}

.footer-ft-4-label {
  padding-bottom: 16px;
}

.footer-ft-4-logo {
  margin-right: 12px;
}

.footer-bottom {
  padding-top: 32px;
  padding-bottom: 66px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  text-align: left;
  padding-left: 34px;
  padding-right: 34px;
}

.footer-yashirin {
  display: none;
}

@media screen and (max-width: 1076px) {
  .footer-ft-4 {
    padding-top: 24px;
  }
  .footer-ft-1 {
    display: flex;
  }
}
@media screen and (max-width: 744px) {
  .footer-ft-3 {
    padding-top: 24px;
  }
}
@media screen and (max-width: 595px) {
  .footer-yop {
    display: none;
  }
  .footer-yashirin {
    display: block;
  }
  .footer-wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }
  .footer1 {
    padding-top: 30px;
  }
  .footer-bottom {
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
