.cards-lak {
    margin-top: 64px;
  }
  .cards-lak-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    margin-bottom: 128px;
  }
  .card-lak {
    display: flex;
    flex-direction: column;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background-color: #fff; 
  }
  .card-img {
    object-fit: cover;
    width: 136px;
    margin: auto;
  }
  .card-podrobneye {
    display: flex;
    flex-direction: column;
    width: 168px;
    height: 113px;
  }
  .card-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 17.34px;
    text-align: center;
    color: #cc9d69;
  }
  .card-tekst {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #2b2846;
    padding-top: 4px;
  }
  .card-btn {
    padding: 4px 12px 4px 12px;
    border-radius: 48px;
    border: 2px solid #cc9d69;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.23px;
    text-align: left;
    color: #cc9d69;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }