.catalog {
}
.catalog-wraper {
    margin-bottom: 64px;
}
.cards-catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.card-catalog {
    position: relative;
    width: 200px;
    height: 204px;
    gap: 16px;
    border-radius: 8px;
}
.catalog-img {
    object-fit: cover;
    border-radius: 8px;
}
.catalog-tekst {
    position: absolute;
top: 168px;
padding: 8px 0px 12px 0px;
text-align: center;
background: linear-gradient(92.1deg, #FFE2C1 3.88%, #FFC481 26.11%, #FFCC91 92.18%);
;
border-radius: 0px 0px 8px 8px;
width: 100%;
font-size: 17px;
font-weight: 700;
line-height: 16px;
text-align: center;

}
@media (max-width: 435px){
   
  .card-catalog{
    width: 150px;
    height: 150px;
  } 
  .catalog-img{
    width: 150px;
    height: 150px;
  }
  .catalog-tekst{
    top: 118px;
  }
}
