.emal {
    margin-top: 64px;
  }
  .emal-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 34px;
    padding-right: 34px;
  }
  .emal-1 {
  }
  .emal-img-1 {
    width: 346px;
    height: 432px;
    object-fit: cover;
  }
  .emal-2 {
    padding: 70px 64px;
  }
  .emal-tekst {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #2b2846;
  }
  .emal-3 {
  }
  .emal-img-2 {
    width: 432px;
    height: 432px;
    object-fit: cover;
  }
  @media (max-width: 1280px) {
    .emal-img-1 {
      width: 208px;
      height: 260px;
    }
    .emal-img-2 {
      width: 260px;
      height: 260px;
    }
    .emal-2 {
      padding: 50px 44px;
    }
  }
  @media (max-width: 1078px) {
    .emal-tekst {
      font-size: 14px;
      line-height: 16px;
    }
  }
  @media (max-width: 1078px) {
    .emal-tekst {
      font-size: 12px;
      line-height: 12px;
    }
    .emal-2 {
      padding: 40px 20px;
    }
  }
  @media (max-width: 829px) {
    .emal-img-1 {
      width: 180px;
    }
    .emal-img-2 {
      width: 230px;
    }
  }
  @media (max-width: 718px) {
    .emal-wraper {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }
    .emal-img-1 {
      width: 100%;
      object-fit: cover;
      margin: 0 auto;
    }
    .emal-img-2 {
      width: 100%;
    }
    .emal-tekst {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      width: 100%;
    }
  }