.footer {
    background-color: #2b2846;
    color: #fff;
  }
  .footer-wraper {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid #fff;
    padding-left: 34px;
    padding-right: 34px;
    flex-wrap: wrap;
  }
  .footer1 {
  }
  .footer-ft-1 {
    display: flex;
    gap: 32px;
    color: #fff
  }
  .footer-link {
    color: #fff
  }
  .footer-link__item {
    padding-top: 8px;
    text-decoration: underline;
  }
  .footer-ft-2 {
  }
  .footer-ft-2-label {
    padding-bottom: 16px;
  }
  .footer-title {
    display: block;
    color: #f7d5ae;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.32px;
    text-align: left;
  }
  .footer-ft-2-input {
    &::placeholder {
      color: #bebcc5;
      font-size: 16px;
      font-weight: 700;
      line-height: 22.08px;
      text-align: left;
    }
    width: 60%;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #f7d5ae;
    background-color: #fff;
    padding: 14px 16px;
  }
  .footer-btn-wrap {
    display: flex;
  }
  .footer-btn {
    background-image: linear-gradient(
      92.1deg,
      #ffe2c1 3.88%,
      #ffc481 26.11%,
      #ffcc91 92.18%
    );
    background-color: #fff;
    color: #2b2846;
    padding: 14px 16px;
    cursor: pointer;
  }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 44px;
  }
  .footer-ft-3 {
    color: #fff
  }
  
  .footer-ft-3-label {
    padding-bottom: 16px;
  }
  .footer-ft-3-tel {
    padding-bottom: 4px;
  }
  .footer-ft-3-nomer {
  }
  .footer-ft-4 {
  }
  .footer-ft-4-label {
    padding-bottom: 16px;
  }
  .footer-logo {
  }
  .footer-ft-4-logo {
    margin-right: 12px;
  }
  .footer-bottom {
    padding-top: 32px;
    padding-bottom: 66px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.32px;
    text-align: left;
    padding-left: 34px;
    padding-right: 34px;
  }
  .footer-yashirin{
    display: none;
  }
  
  @media screen and (max-width: 1076px) {
    .footer-ft-4{
      padding-top: 24px;
    }
    .footer-ft-1{
      display: flex;
    }
  }
  @media screen and (max-width: 744px) {
    .footer-ft-3{
      padding-top: 24px;
    }
  }
  @media screen and (max-width: 595px) {
    .footer-yop{
      display: none;
    }
    .footer-yashirin{
      display: block;
    }
    .footer-wraper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
    }
    .footer1{
      padding-top: 30px;
    }
  .footer-bottom{
    padding-bottom: 30px;
  }
  }
  