.nav {
  border-bottom: 5px solid #f7d5ae;
  position: relative;
  &::after {
    content: " ";
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -13px;
    left: 0;
    border-bottom: 5px solid #f7d5ae;
  }
  &-content {
    display: flex;
    align-items: center;
    gap: 47px;
  }
  &-logo {
    padding: 36px 0;
  }
  &-link {
    display: flex;
    align-items: center;
    gap: 30px;
    &__item {
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      list-style-type: none;
      a {
        text-decoration: none;
        color: #2b2846;
      }
      a:hover {
        color: #454074;
      }
    }
  }
  &-burger {
    display: none;
  }
}
@media (max-width: 1280px) {
  .nav {
    &-content {
      display: block;
      padding-top: 36px;
      padding-left: 64px;
    }
    &-link {
      padding-top: 16px;
      margin-bottom: 27px;
      &__item a {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 790px) {
  .nav {
    &-content {
      padding-left: 36px;
      padding-right: 36px;
    }
    &-link {
      gap: 20px;
    }
  }
}
@media (max-width: 683px) {
  .nav {
    &-content {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &-link {
      display: none;
    }
    &-burger {
      display: inline-block;
    }
    &-logo {
      padding: 0 0;
    }
  }
}