.xarita {
}
.container {
}
.xarita-wraper {
    border-color: #EEEEEE;
    border: 3px solid #F7D5AE;
height: 30%;
border-radius: 50px;
display: flex;
}
.xarita-left {
    width: 70%;
    overflow: hidden;
}
.xarita-rasm {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.xarita-right {
    width: 30%;
    padding-top: 85px;
    padding-right: 60px;
    padding-bottom: 24px;
    padding-left: 12px;
}
.xarita-tekst {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.08px;
    text-align: left;    
}
.xarita-btn {
    background: linear-gradient(92.1deg, #FFE2C1 3.88%, #FFC481 26.11%, #FFCC91 92.18%);
    padding: 8px 24px 12px 24px;
    border-radius: 48px;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.84px;
    text-align: left; 
}
@media (max-width: 1168px)
{
.xarita-left{
    width: 55%;
}
.xarita-img{
    width: 100%;
    overflow: hidden;
padding: 31px 35px;
}
.xarita-right{
    width: 45%;
    padding-right: 37px;
}
}
@media (max-width: 762px){
    .xarita-left{
        width: 56%;
    }
    .xarita-img{
        width: 100%;
        overflow: hidden;
    padding: 31px 35px;
    }
    .xarita-right{
        width: 44%;
        padding-right: 37px;
        padding-top: 55px;
    }
}
@media (max-width: 766px){
.xarita-wraper{
    display: block;
    margin-top: 20px;
}
.xarita-left{
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 13px;
}
.xarita-img{
    padding-top: 10px;
}
.xarita-right{
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.buttonning-divi{
    display: flex;
    justify-content: center;
}
}
