*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
button,
input {
  background: none;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}
.container{
    max-width: 1344px;
    margin: 0 auto;
}
body {
  background-color: #f3f2f3;
}