@mixin btn($px:24px, $py:12px, $fsz: 18px ){
    padding: 12px 24px;
    color: $textcolor;
    font-size: 18px;
    font-weight: bold;
    background-color: $gold;
    border-radius: 24px;
    background-image: $linear-gold;
}
@mixin title($title: " ") {
    height: 11px;
    border-top: 3px solid $gold;
    border-bottom: 3px solid $gold;
    position: relative;
    &::after {
      content: $title;
      font-size: 32px; 
      font-weight: bold;
      padding: 0 32px;
      background:#F1F0F1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
 